bin/Debug/Interop.SpeechLib.dll
bin/Debug/ThoughtWorks.QRCode.dll
bin/Debug/config.xml
bin/Debug/称重客户端New.exe
bin/Debug/称重客户端New.pdb
bin/Debug/称重客户端New.vshost.exe
bin/Debug/称重客户端New.vshost.exe.manifest
bin/x86/Debug/BarCode.dll
bin/x86/Debug/BarcodeLib.dll
bin/x86/Debug/Interop.SpeechLib.dll
bin/x86/Debug/Newtonsoft.Json.dll
bin/x86/Debug/ThoughtWorks.QRCode.dll
bin/x86/Debug/config.xml
bin/x86/Debug/称重客户端New.exe
bin/x86/Debug/称重客户端New.pdb
bin/x86/Debug/称重客户端New.vshost.exe
bin/x86/Release/BarCode.dll
bin/x86/Release/BarcodeLib.dll
bin/x86/Release/Interop.SpeechLib.dll
bin/x86/Release/Microsoft.VisualBasic.PowerPacks.Vs.dll
bin/x86/Release/Newtonsoft.Json.dll
bin/x86/Release/Release1214.zip
bin/x86/Release/ThoughtWorks.QRCode.dll
bin/x86/Release/config.xml
bin/x86/Release/logo.gif
bin/x86/Release/称重客户端New.application
bin/x86/Release/称重客户端New.exe
bin/x86/Release/称重客户端New.exe.manifest
bin/x86/Release/称重客户端New.pdb
bin/x86/Release/称重客户端New.vshost.application
bin/x86/Release/称重客户端New.vshost.exe
bin/x86/Release/称重客户端New.vshost.exe.manifest
obj/Debug/ResolveAssemblyReference.cache
obj/Debug/称重客户端New.Form1.resources
obj/Debug/称重客户端New.Properties.Resources.resources
obj/Debug/称重客户端New.Setting.resources
obj/Debug/称重客户端New.Token.resources
obj/Debug/称重客户端New.change.resources
obj/Debug/称重客户端New.csproj.FileListAbsolute.txt
obj/Debug/称重客户端New.csproj.GenerateResource.Cache
obj/Debug/称重客户端New.defaultprint.resources
obj/Debug/称重客户端New.exe
obj/Debug/称重客户端New.login.resources
obj/Debug/称重客户端New.printmail.resources
obj/Debug/称重客户端New.printview.resources
obj/x86/Debug/称重客户端New.Form1.resources
obj/x86/Debug/称重客户端New.Properties.Resources.resources
obj/x86/Debug/称重客户端New.Setting.resources
obj/x86/Debug/称重客户端New.Token.resources
obj/x86/Debug/称重客户端New.change.resources
obj/x86/Debug/称重客户端New.csproj.FileListAbsolute.txt
obj/x86/Debug/称重客户端New.csproj.GenerateResource.Cache
obj/x86/Debug/称重客户端New.defaultprint.resources
obj/x86/Debug/称重客户端New.exe
obj/x86/Debug/称重客户端New.login.resources
obj/x86/Debug/称重客户端New.pdb
obj/x86/Debug/称重客户端New.printmail.resources
obj/x86/Debug/称重客户端New.printview.resources
obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
obj/x86/Release/称重客户端New.Form1.resources
obj/x86/Release/称重客户端New.Properties.Resources.resources
obj/x86/Release/称重客户端New.Setting.resources
obj/x86/Release/称重客户端New.Token.resources
obj/x86/Release/称重客户端New.application
obj/x86/Release/称重客户端New.change.resources
obj/x86/Release/称重客户端New.csproj.FileListAbsolute.txt
obj/x86/Release/称重客户端New.csproj.GenerateResource.Cache
obj/x86/Release/称重客户端New.csprojResolveAssemblyReference.cache
obj/x86/Release/称重客户端New.defaultprint.resources
obj/x86/Release/称重客户端New.exe
obj/x86/Release/称重客户端New.exe.manifest
obj/x86/Release/称重客户端New.login.resources
obj/x86/Release/称重客户端New.pdb
obj/x86/Release/称重客户端New.printmail.resources
obj/x86/Release/称重客户端New.printview.resources
